    html {
        --black: 0, 0, 0;
        --text: 255, 255, 255;
        --window: 32, 32, 32;
        --windowButtons: 112, 112, 112;
    }
    
    * {
        color: rgb(var(--text));
        font-family: 'Segoe UI', sans-serif;
        font-size: small;
        line-height: 1.6;
    }